@import url(https://fonts.googleapis.com/css?family=Roboto:300);
@import url('https://fonts.googleapis.com/css?family=Muli:200:400|Roboto:700');

@keyframes line_animation {
  from { width: 0%; }
  to { width: 70%; }
}
@keyframes under_hover_button {
    from {color: white; }
    to {color: blue; }
}
@keyframes hover_button {
    from {background: blue; }
    to {background: white; }
}
@keyframes logo_animation {
    from {height: 200px; opacity: 0; width: 220px;}
    to {height: 240px; opacity: 1; width: 260px;}
}
@keyframes overlay_animation {
    from {opacity: 0;}
    to {opacity: 1;}
}




/* HOME PAGE --------------------------------  */

body {
    min-width: 700px;
}

h1 {
    text-align: center;
    position: relative;
    top: 100px;
    color: white;
    z-index: 100;
}

.home {
    height: 100%;
    width: 100%;
}

.home .wallpaper {
    width: 100%;
    height: 100%;
    opacity: 0.6;
}

.home .logo {
    margin: auto;
    left: 0px;
    right: 0px;
    top: 10%;
    height: 240px;
    width: 260px;
    position: absolute;
    animation: logo_animation 2s;
}

.login_modal {
    top: 350px;
    width: 40%;
    position: absolute;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    background: black;
    margin: auto;
    left: 0px;
    right: 0px;
    padding: 45px;
}

.login_modal .form {
    margin: auto;
    z-index: 1;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.login_modal input {
    font-family: "Roboto", sans-serif;
    width: 100%;
    padding: 10px;
    border: 0;
    font-size: 16px;
    cursor: default;
    background: #f2f2f2;
    cursor: text;
}

.login_modal .login button {
    color: black;
    width: 100%;
    border: 3px black;
    font-size: 18px;
    padding: 15px;
    cursor: pointer;
    background: blue;
    margin-bottom: 10px
}
.login_modal .login button:hover {
    animation: hover_button 0.6s;
    background: white;
    color: black;
}
.login_modal .login button:active {
    border: none;
}
.login_modal .checkbox {
    left: 0px;
    right: 0px;
    font-size: 20px;
    text-align: right;
    color: white;
    font-style: bold;
    z-index: 1;
}

.under_login {
    margin: auto;
    text-align: center;
}
.under_login button {
    color: white;
    background: black;
    margin: auto;
    border: none;
    font-size: 14px;
    cursor: pointer;
    top: 20px;
}

.under_login button:hover {
    animation: under_hover_button 1s;
    color: blue;
}
.under_login a {
    text-decoration: none;
    color: blue;
}






/* BROWSE PAGE ------------------------------- */

.browse {
    height: 100%;
    min-width: 700px;
}

.browse .top_left_logo {
    height: 30px;
    width: 20px;
    top: 0px;
    left: 0px;
    z-index: 100;
}

.browse .overlay {
    background: white;
    height: 90%;
    width: 70%;
    left: 0px;
    right: 0px;
    top: 5%;
    left: 15%;
    position: absolute;
    z-index: 100;
    animation: overlay_animation 2s;
    cursor: pointer;
}

.browse .wallpaper {
    height: 100%;
    width: 100%;
    opacity: 1;
}

h2 {
    color: black;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-weight: 800;
    text-align: center;
    top: 200px;
    line-height: 20px;
}
.player iframe {
    left: 0px;
    right: 0px;
    top: 150px;
    position: absolute;
    height: 500px;
    height: 420px;
    margin: auto;
}

.thumbs {
    position: absolute;
    top: 600px;
    width: 20%;
    left: 0px;
    right: 0px;
    margin: auto;
    background: black;
}
.thumbs img {
    position: relative;
    margin: 0px 10px 0px 0px;
    display: inline-block;
}
.thumbs img:hover {
    cursor: pointer;
    /* add stuff here */
}
.thumbs img:active {
    top: 4px;
    /* add stuff here */
}



