@import url(https://fonts.googleapis.com/css?family=Roboto:300);

/* HOME PAGE --------------------------------  */

body {
    background: blue;
}

h1 {
    text-align: center;
    position: relative;
    top: 100px;
    color: white;
}

.ui-divider {
    position: relative;
    margin: auto;
    line-height: 1;
    top: 130px;
    height: 0;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: white;
    width: 70%;
    border-top: 1px solid rgba(34,36,38,0.15);
    border-bottom: 1px solid rgba(255,255,255,0.1);
}

.login_modal {
    top: 350px;
    width: 40%;
    position: absolute;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    padding: 50px;
    background: black;
    margin: auto;
    left: 0px;
    right: 0px;
}

.login_modal .form {
    margin: auto;
    z-index: 1;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.login_modal input {
    font-family: "Roboto", sans-serif;
    width: 100%;
    padding: 10px;
    border: 0;
    font-size: 16px;
    cursor: default;
    background: #f2f2f2;
}

.login_modal .login button {
    color: black;
    width: 100%;
    border: 3px black;
    font-size: 14px;
    padding: 10px;
    cursor: pointer;
    background: blue;
}

.login_modal .form button:hover,.form button:active,.form button:focus {
    background: white;
    color: black;
    border: blue;
}

.login_modal .checkbox {
    left: 0px;
    right: 0px;
    font-size: 20px;
    text-align: right;
    color: white;
    font-style: bold;
    z-index: 1;
}

.under_login {
  display: inline-block;
}

.under_login button {
    color: black;
    background: white;
    padding: 10px;
    margin: 16px;
    height: 40px;
    cursor: pointer;
}

.under_login a {
    text-decoration: none;
    color: blue;
}






/* BROWSE PAGE ------------------------------- */

.browse {
    background: blue;
    height: 100%;
}

.player iframe {
    left: 0px;
    right: 0px;
    top: 150px;
    position: absolute;
    height: 500px;
    height: 420px;
    margin: auto;
}

.player .overlay {
    background: black;
    opacity: 0.4;
    display: inline-block;
    position: relative;
}

.player .overlay img {
    height: 200px;
    width: 200px;
    position: relative;
    left: 0px;
    bottom: 0px;
    padding: 20px;
}








