<!-- THE ENTIRE PAGE -->
<div class="browse">

  <img class="top_left_logo" src="/images/logo.png">

  <img class="wallpaper" src="/images/wallpaper_3.jpg">
  
  <!-- THIS IS THE MODAL THAT CONTAINS EVERYTHING -->
  <div class="now_playing">
    <div class="album">
      
      <div class="player">

        <iframe src="https://open.spotify.com/embed?uri=spotify%3Atrack%3A33Q6ldVXuJyQmqs8BmAa0k"
        width="250" height="330" frameborder="0" allowtransparency="true"></iframe>

          <div class="thumbs">
            <img src="/images/Thumbsup.png" alt="Thumbs up"/>

            <script>
              var iFrameArray = ['https://open.spotify.com/embed/track/3ncgNpxLoBQ65ABk4djDyd', 
              'https://open.spotify.com/embed/track/35ieKju5aLWFN5UgfJ27mL', 
              'https://open.spotify.com/embed/track/1nO2NjuFkGaAWcMdJ1pNrp', 
              'https://open.spotify.com/embed/track/2ooF4088y5L72c4YTEJQoB', 
              'https://open.spotify.com/embed/track/4uhvMW7ly7tJil31YYscAN', 
              'https://open.spotify.com/embed/track/06u5LrUpbosQlQ1QJFhPpG', 
              'https://open.spotify.com/embed/track/2QeQNF182V61Im0QpjdVta', 
              'https://open.spotify.com/embed/track/11cCVYamncF0ezwjj1irQ0', 
              'https://open.spotify.com/embed/track/177WEvlLsCc0FzCTWslawr',
              'https://open.spotify.com/embed/track/3YeJXuRSNS5FYwOsDu44kD'];

              const thumbs = document.querySelector('.thumbs');
              var oldNum = 0;
              thumbs.addEventListener('click', function() {
                  var randomNum = Math.floor(Math.random() * 9);
                  if (oldNum != randomNum) {
                      document.querySelector('iframe').src= iFrameArray[randomNum];
                      oldNum = randomNum;
                  }
              })

            </script>
            <img src="/images/hearteyes.png" alt="Heart Eyes" />
            <img src="/images/Thumbsdown.png" alt="Thumbs down" />
            
          </div>

      </div>
    </div>
  </div>
</div>

