{% extends "layout.html" %}

{% block content %}
<div class="browse">
  <h1> THIS IS A BROWSE PAGE </h1>
  <div class="now_playing">
    <div class="album">
      <div class="player">
        <!-- MIVIA ADD YOUR CODE HERE -->
      </div
    </div>
  </div>
</div>

{% endblock %}
