{% extends "layout.html" %}

{% block content %}
<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/images/lang-logo.png">
    </a>

    <!-- SPLASH PAGE -->
    
    <h1> THIS IS A BROWSE PAGE </h1>
  </div>
</div>

{% endblock %}
