<div class="home">
  <script type="text/javascript" src="/web/js/jquery.jcarousel.min.js"></script>
  <img class="wallpaper" src="/images/wallpaper_1.jpg">
  <h1>Find some music. Share some music.</h1>
  <form action="browse">

   <img class="logo" src="/images/logo.png"> <br> <br>

   <div class="login_modal">

       <input type="text" placeholder="Username" name="uname" required>
       <br><br>
       <input type="password" placeholder="Password" name="psw" required>
       <br><br>
       <div class="login">
          <button type="submit">LOGIN</button>
       </div>
       <!-- ill do remember me styling later 
       <label>
         <input class="checkbox" type="checkbox" checked="checked" name="remember"> Remember me
       </label>
     -->
      <div class="under_login">
         <button type="button" class="cancelbtn">Skip for now<a href=""></a></button>
        <br>
         <button type="button" class="forgotbtn">Forgot password<a href=""></a></button>
      </div>
      <br><br><br><br><br><br>
    </div>
  </form>
</div>
