{% extends "layout.html" %}

{% block content %}
<div class="home">
  <form action="browse">
   
   <div class="login_modal">
       <img src="logo.png"> <br> <br>

       <div class="ui-divider"></div>

       <input type="text" placeholder="Username" name="uname" required>
       <br>
       <input type="password" placeholder="Password" name="psw" required>
       <br>
       <div class="login">
          <button type="submit">LOGIN</button>
       </div>
       <label>
         <input class="checkbox" type="checkbox" checked="checked" name="remember"> Remember me
       </label>
     
      <div class="container">
         <button type="button" class="cancelbtn">Skip for now<a href="browse"></a></button>

         <button type="button" class="forgotbtn">Forgot password<a href="forgot_password"></a></button>
      </div>
    </div>
  </form>
</div>

{% endblock %}
